.logo { 
    &__small{
        height: 75px;
        width: 75px;
    }
    &__medium{
        height: 100px;
        width: 100px;
    }
    &__large{

    }
}
.icon{
    &__small{
        width: 123px;
        height: 70px;
    }
}